* {
  box-sizing: border-box;
}

h2 {
  margin: 0;
}

.app {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
}

.buttonClass {
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 1.2rem;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
}

.primaryClass {
  background-color: green;
}

.secondaryClass {
  background-color: blanchedalmond;
  color: black;
}

.warningClass {
  background-color: orange;
}

.dangerClass {
  background-color: red;
}

.roundedClass {
  border-radius: 10px;
}

.outlineClass {
  border: none;
  outline: 2px solid rgb(214, 47, 47);
  background-color: white;
  color: black;
}

.newStyle {
  border: none;
  outline: 2px solid rgb(214, 47, 47);
  background-color: rgb(255, 255, 255);
  color: black;
}

.dropdown {
  width: 230px;
  font-size: 1.2rem;
}


.dropdown-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0;
}

.dropdown-header>h3 {
  margin: 0;
}

.panel {
  cursor: pointer;
  padding-left: 20px;
  background-color: rgba(167, 167, 167, 0.329);
  color: brown;
  border-radius: 10px;
  border: 1px solid black;
}

.sidebar {
  /* border-left: 2px solid rgb(236, 46, 46); */
  font-size: 2rem;
  padding-left: 10px;
}

.linkDiv {
  margin: 10px;
}

.link {
  all: unset;
  color: blue;
  cursor: pointer;
}

.activeLink {
  color: red;
  font-weight: bold;
  border-left: 5px solid red;
  padding-left: 5px;
}

.accordionPage {
  border: 1px solid rebeccapurple;
  border-radius: 10px;
  padding: 10px;
}

.modalBackground {
  position: fixed;
  background-color: gray;
  opacity: 80%;
  inset: 0;
  min-height: 100vh;
  min-width: 100vw;
}

.modalContent {
  position: fixed;
  background-color: rgb(255, 255, 255);
  width: 350px;
  height: 200px;
  border-radius: 10px;
  opacity: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modalScroll {
  overflow: hidden;
}


.table {
  border-collapse: collapse;
  table-layout: auto;
}

tr {
  border-bottom: 1px solid red;
}

td,
th {
  padding: 10px;
}



.th-div {
  margin: 5px;
}

.td-colorDiv {
  width: 20px;
  height: 20px;
}

.sortElement {
  display: flex;
  align-items: center;
}